.error-message {
    color: red;
    font-size: 14px;
}

.success-message {
    color: green;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

label {
    text-align: left;
    color: #002f6c;
}


