.search-bar {
    display: flex;
    align-items: center;
    background: #fff; 
    border-radius: 60px;
    padding: 2px;
    width: 470px;
    box-shadow: 0 2px 5px rgba(171, 169, 169, 0.2);
    margin: 0px;
    border: 1px solid #ccc;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 15px;
    font-size: 14px;
    
}

.search-btn {
    background: #044bad;
    color: white;
    border: none;
    border-radius: 50%; 
    width: 37px; 
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 0; 
}
