body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 250px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaf6ff;
}

td {
    color: #34495e;
}

.actionbutton {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.actionbutton button {
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.actionbutton button:first-child {
    background-color: #27ae60;
    color: white;
}

.actionbutton button:first-child:hover {
    background-color: #1e8449;
}

.actionbutton button:last-child {
    background-color: #ed6f61;
    color: white;
}

.actionbutton button:last-child:hover {
    background-color: #c0392b;
}

p {
    font-size: 16px;
}
